$imgHomePage: url('https://olenaperetiatko.github.io/bank_project_lab_1/img/photo4.jpg');
$imgLoginPage: url('https://olenaperetiatko.github.io/bank_project_lab_1/img/photo5.jpg');
$imgProfilePage: url('https://olenaperetiatko.github.io/bank_project_lab_1/img/photo8.jpg');

$myBrown: #423b3c;
$myPink: #f34b70;
$myOrange: #fd6748;