<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<header class="fixedHeader">
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="users.html">Users</a></li>
            <li><a href="wallets.html">Wallets</a></li>
            <li><a href="transactionPost.html">Transactions</a></li>
            <li class="right"><a href="profile.html">Profile</a></li>
            <li class="right"><a href="login.html">Login</a></li>
        </ul>
    </nav>
</header>
<main class="content">
    {% if current_user.is_admin == False %}
    <p>Important! You can see information only about your account, as you are not administrator.</p>
    {% endif %}
    {% block content %}
    <h2>{% block title %} {{ user['username'] }} {% endblock %}</h2>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Phone: {{user.phone}}</p>
    <p>Email: {{user.email}}</p>
    {% endblock %}
</main>
<footer>
    <hr>
    <span class="footerText">&copy; 2022 Olena Peretiatko</span>
    <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Vacancies</a>
        <a href="#">Shop</a>
    </nav>
</footer>
</body>
</html>