<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='stylesheets/styles.css') }}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if current_user.is_admin %}
            <li><a href="/users">Users</a></li>
            <li><a href="/wallets">Wallets</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="/transactionsPost">Transactions</a></li>
            <li class="right active"><a href="/profile">Profile</a></li>
            {% endif %}
            {% if current_user.is_authenticated == False %}
            <li class="right"><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main class="content center">
    <h1>{% block title %} Edit {{ user.username }} {% endblock %}</h1>
    <form method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username"
                   value="{{ user.username }}" class="form-control">
        </div>
        <div class="form-group">
            <label>First name</label>
            <input type="text" name="first_name"
                   value="{{ user['first_name'] }}" class="form-control">
        </div>
        <div class="form-group">
            <label>Last name</label>
            <input type="text" name="last_name"
                   value="{{ user['last_name'] }}" class="form-control">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email"
                   value="{{ user['email'] }}" class="form-control">
        </div>

        <div class="form-group center">
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>
    </form>
</main>
</body>
</html>