<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='stylesheets/styles.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if current_user.is_admin %}
            <li class="active"><a href="/users">Users</a></li>
            <li><a href="/wallets">Wallets</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="/transactionsPost">Transactions</a></li>
            <li class="right"><a href="/profile">Profile</a></li>
            {% endif %}
            {% if current_user.is_authenticated == False %}
            <li class="right"><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<a href="addUser">
    <button>Add User</button>
</a>
{% for user in users %}
<div class="content">
    <a href="users/{{user['username']}}">
        <h2>{{ user['username'] }}</h2>
    </a>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <a href="editUser/{{user['username']}}">
        <button>Edit</button>
    </a>
    <form action="deleteUser/{{user['username']}}" method="POST">
        <input type="submit" value="Delete User"
               class="btn btn-danger btn-sm">

    </form>
</div>
<hr>
{% endfor %}
</main>
</body>

</html>