table {
    text-align: center;
    border-collapse: collapse;
    width: 70%;
}

th {
    width: 10%;
    background-color: #e2caf3;
}

.content > table {
    margin: auto;
}

tr {
    /*background-color: #ff8080;*/
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}
/*tr:nth-child(even){background-color: #f2f2f2;}*/
tr:hover {background-color: #ddd;}

