* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e4e3e4;
    font-family: 'Times New Roman', sans-serif;
}
header{
    margin: 0;
    height: 100px;
    background-color: #282ebf;
    /*border-bottom-right-radius: 400px;*/
}
header a{
    color: white;
}
a{
    text-decoration: none;
}
header a{
    text-transform: uppercase;
}
div.form-group {
    margin: 5px 0;
}

.content {
    padding: 0 3%;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 0 20px;
    padding: 30px;
}
.right {
    float: right;
}

.right > a{
    margin-right: 20px;
}
.active > a{
    color: #f34b70;
}

form{
    display: inline-block;
}
button, input[type="submit"]{
    margin: 10px 0 10px 10px;
    background: linear-gradient(to right, #f04977, #fd6748);
    padding: 10px 15px;
    border: 1px solid #f34949;
    color: #F3EBF6;
    font-family: "Noto Sans Cham", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    /*font-size: 15px;*/
}
label{
    margin-top: 15px;
    display: inline-block;
    width: 350px;
    font-weight: 700;
}
input[type="text"]{
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    width: 300px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 27px;
}
footer{
    height: 100px;
    background-color: #242582;

}
footer, .content{
    margin-top: 5%;
}
h1{
    margin-bottom: 20px;
}
.center{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wallet{
    font-family: 'Courier New', monospace;
    margin: 10px auto;
    padding: 5%;
    background-color: #242582;
    color: white;
    width: 30%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
    border: 1px solid black;
}
.wallet:nth-child(odd){
    background-color: #fd351b;
}
.profile{
    font-size: 18px;
    line-height: 1.8;
    padding: 5% 3%;
    float: right;
    background-color: #f34b70;
}
.wallet.inProfile{
    margin: 10px;
    /*float: right;*/
}
.wrapper{
    margin: 10px;
    line-height: 1.8;
}